body {
    font-family: sans-serif;
    padding: 1rem;
    background: #f4f4f4;
}

header {
    background: #004488;
    color: white;
    padding: 1rem;
}

nav a {
    color: black;
    margin-right: 1rem;
    text-decoration: none;
}

form {
    margin: 1rem 0;
}